body{
font-family: 'Merriweather', serif;
}
.heading-div{
background-color:#D94E2C;
}
#heading{
text-align:center;
color:white;
font-weight:bold;
}
#slogan{
text-align:center;
color:white;
font-size:20px;
}
.center{
text-align:center;
}
#info-heading{
padding:25px;
background-color:#D94E2C;
color:white;
font-size:50px;
font-weight:bold;
}
#info-slogan{
color:white;
margin-top:-30px;
font-size:20px;
}
#weather-pic{
margin-bottom:20px;
}
#weather{
font-weight:bold;
}
.img{
width:75px;
}
#time-pic{
margin-bottom:20px;
}
#time{
font-weight:bold;
}
#flight-pic{
margin-bottom:20px;
}
#flight{
font-weight:bold;
}
#participation-pic{
margin-bottom:20px;
}
#participation{
font-weight:bold;
}
.view{
width:49vw;
}
}
@media (min-width: 1080px){

}