body{
font-family: 'Merriweather', serif;
}
#heading-div{
background-color:#D94E2C;
}
#heading{
text-align:center;
color:white;
}
#slogan{
text-align:center;
color:white;
font-size:20px;
}
.center{
text-align:center;
}
#info-heading{
padding:25px;
background-color:#D94E2C;
color:white;
font-size:50px;
}
#info-margin{
margin:25px;
}
#info{
margin-top:-35px;
background-color:#2CD92F;
}
