body{
font-family: 'Merriweather', serif;
}
.heading-div{
background-color:#D94E2C;
}
#heading{
text-align:center;
color:white;
font-weight:bold;
}
#slogan{
text-align:center;
color:white;
font-size:20px;
}
.center{
text-align:center;
}
#info-heading{
padding:25px;
background-color:#D94E2C;
color:white;
font-size:50px;
font-weight:bold;
}
#info-slogan{
color:white;
margin-top:-30px;
font-size:20px;
}
#weather-pic{
margin-bottom:20px;
}
#weather{
font-weight:bold;
}
.img{
width:75px;
}
#time-pic{
margin-bottom:20px;
}
#time{
font-weight:bold;
}
#flight-pic{
margin-bottom:20px;
}
#flight{
font-weight:bold;
}
#participation-pic{
margin-bottom:20px;
}
#participation{
font-weight:bold;
}
#weather-view{
width:48%;
}
.view{
width:100vw;
display:inline-block;
}
@media (min-width: 722px){
.view{
width:48vw;
}
@media (min-width: 1920px){
.view{
width:23vw;
}
}
img{
max-width: 100%;
height: auto;
}
#testimonials-heading{
padding:20px;
background-color:#D94E2C;
color:white;
font-size:50px;
font-weight:bold;
margin-bottom:15px;
}
#testmonials-slogan{
color:white;
font-size:20px;
margin-top:30px;
}
#contact{
padding:10px;
color:white;
font-size:50px;
font-weight:bold;
margin-bottom:15px;
}
#copy-right{
color:white;
font-size:15px;
font-weight:bold;
}